
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
.animate-marquee {
    display: flex;
    animation: marquee 360s linear infinite;
  }
   */
  .marquee-wrapper {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  /* Add this CSS to your styles or inlined in the component */

@keyframes infinite-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-wrapper {
  width: 100%;
  overflow: hidden;
}

.animate-marquee {
  display: flex;
  animation: infinite-marquee 200s linear infinite;
}
